.Rproj.user
.Rhistory
.RData
.Ruserdata

*.html
1-Visualizacion/Learnr/DataVisualizationP1_files
2-Transformacion/Learnr/TransformationParte_files
3-AnalisisExploratorio/Learnr/AnalisisExploratorio_files
4-DomacionDatos/Learnr/DomacionDatos_files
5-Modelacion/Learnr/Modelacion_files
6-BasicShiny/Learnr/BasicShiny_files
7-BasicNPL/Learnr/BasicNPL_files


